@import "../../../../assets/css/base.scss";

.header-container{
    position: fixed;
    width: 100%;
    top: 0px;
    height: 72px;
    display:flex;
    z-index: 1;
    justify-content: space-between;
    background: $theme-color;
    .product-icon{
        @include primary-font(700, normal);
        @include fontsize-lineheight(32px, 42px);
        display: flex;
        align-items: center;
        padding-left: 32px;
        color: $white;
    }
    .tabs-container{
        display: flex;
        gap: 16px;
        .tab{
            display: flex;
            align-items: center;
            padding-left: 16px;
            padding-right: 19px;
            cursor: pointer;
            .icon-img{
                margin-right: 11px;
            }
            .tab-name{
                color: $white;
                @include primary-font(500, normal);
                @include fontsize-lineheight(16px, 24px);
            }
        }
        .active{
            background: $dark-blue;
        }
    }
    .profile {
        padding-right: 49px;
        display: flex;
        align-items: center;
        gap:22px;
    }
    .icon-img{
        width: 20px;
        height: 18px;
        cursor: pointer;
    }
}
